<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="SaveFileName" value="customers.bin"/>
    <add key="ClearingNumber" value="1234"/>
    <add key="CurrencyAbbreviation" value="kr"/>
  </appSettings>
</configuration>